{% extends 'base.html' %}
{% block head %}
  <link  href="/cropper.min.css" rel="stylesheet"/>
  <script src="/cropper.min.js"></script>
  <script>
    function check_username() {
      const username = document.getElementsByName('username')[0];
      if (document.getElementsByName("username")[0].value.match(/[^a-z0-9-]/g) || !document.getElementsByName("username")[0].value.match(/[a-z]/g)) {
        document.getElementById('submit').disabled = true;
        document.getElementById("error").textContent = "{{ tr['invalid_username'] }}";
      } else {
        document.getElementById('submit').disabled = false;
        document.getElementById("error").textContent = '';
      }
    }
    let cropper = null;
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById('working-profile-picture').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
        setTimeout(function() {
          if (cropper) cropper.destroy();
          cropper = new Cropper(document.getElementById('working-profile-picture'), { aspectRatio: 1 / 1 });
          document.getElementById('second-column').className = 'hide';
          document.getElementById('third-column').className = '';
          document.getElementById('cropper').className = '';
          document.getElementById('crop-button').className = '';
          document.getElementById('message').innerText = '';
        }, 1000);
      }
    }
    function crop() {
      cropper.getCroppedCanvas().toBlob(async function (blob) {
        document.getElementById('third-column').className = 'hide';
        document.getElementById('second-column').className = 'center';
        document.getElementById('cropper').className = 'hide';
        document.getElementById('crop-button').className = 'hide';
        if (blob.size > 1024*1024*2) {
          document.getElementById('message').innerText = '{{ tr["picture_too_large"] }}';
          return;
        }
        const formData = new FormData();
        formData.append('image', blob);
        formData.append('api_key', '{{ user.api_key }}');
        await fetch('/cv/set-profile-picture', {
          method: 'POST',
          body: formData
        });
        document.getElementById('profile-picture').src = "/profile_pictures/{{ user.id }}.png?" + new Date().getTime();
      });
    }
  </script>
{% endblock %}
{% block content %}
<div id="content">
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <form action="/cv/set-username" method="post">
    <div class="input-container">
      {{ csrf|safe }}
      <div class="label">{{ tr['username'] }}</div>
      <input name="username" maxlength="30" onKeyUp="check_username()" value="{% if user.username %}{{ user.username }}{% endif %}"/>
      <input id="submit" type="submit" value="{{ tr['claim_username'] }}"/>
    </div>
    <div id="error"></div>
  </form>
  <form>
    <table class="wide">
      <tr>
        <td id="second-column" class="center">
          <div>{{ tr['profile_picture'] }}<br/>&nbsp;</div>
          <img id='profile-picture' src="/profile_pictures/{% if profile_picture_exists %}{{ user.id }}{% else %}grey{% endif %}.png"/><br/>
          <input type="file" name="image" id="image" onChange="readURL(this);"/>
        </td>
        <td id='third-column' class="hide">
          <div id='cropper' class='hide'><img id="working-profile-picture" src="#" alt="Profile Picture" /></div>
          <div id='crop-button' class='hide'><p class="center"><input type="button" onClick="crop();" value="{{ tr['crop'] }}"/></p></div>
          <p id="message"></p>
        </td>
      </tr>
    </table>
  </form>
  <form id="form" action="/cv/edit-basic-info" method="post">
    <div class="input-container">
      {{ csrf|safe }}
      <div class="label">{{ tr['name'] }}</div>
      <input class="wide" name="name" maxlength="80" value="{{ user.name }}"/>
    </div>
    <div class="input-container">
      <div class="label">{{ tr['profession'] }}</div>
      <input class="wide" name="profession" maxlength="80" value="{{ user.profession }}"/>
    </div>
    <div class="input-container">
      <div class="label">{{ tr['phone_optional'] }}</div>
      <input class="wide" name="phone" maxlength="80" value="{{ user.phone }}"/>
    </div>
    <div class="input-container">
      <div class="label">{{ tr['profile_summary'] }}</div>
      <textarea name="summary" class="wide" maxlength="1000">{{ user.summary }}</textarea>
    </div>
    <div class="input-container">
      <div class="label">{{ tr['email_address'] }}</div>
      <input class="wide" disabled value="{{ user.email }}">
    </div>
    <div class="input-container checkbox">
      <input {% if user.show_email %}checked{% endif %} type="checkbox" name="show_email" value="true"/>
      {{ tr['show_email'] }}
    </div>
    <div class="input-container checkbox">
      <input {% if user.open %}checked{% endif %} type="checkbox" name="open" value="true"/>
      {{ tr['open_to_work'] }}
    </div>
    <div class="input-container">
      <input type="submit" value="{{ tr['save_changes'] }}"/>
    </div>
  </form>
  <p><a href="/cv/delete">{{ tr['delete_my_account'] }}</a></p>
</div>
{% endblock %}
