{% extends 'base.html' %}
{% block head %}
  <script>
    function check_username() {
      const username = document.getElementsByName('username')[0];
      if (document.getElementsByName("username")[0].value.match(/[^a-z0-9-]/g) || !document.getElementsByName("username")[0].value.match(/[a-z]/g)) {
        document.getElementById('submit').disabled = true;
        document.getElementById("error").textContent = "{{ tr['invalid_username'] }}";
      } else {
        document.getElementById('submit').disabled = false;
        document.getElementById("error").textContent = '';
      }
    }
  </script>
{% endblock %}
{% block content %}
<div id="content">
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <table>
    <tr>
      <th>{{ tr['username'] }}</th>
      <td>
        <form action="/cv/set-username" method="post">
          {{ csrf|safe }}
          <input name="username" maxlength="30" onKeyUp="check_username()" value="{% if user.username %}{{ user.username }}{% endif %}"/>
          <input id="submit" type="submit" value="{{ tr['claim_username'] }}"/>
          <span id="error"></span>
        </form>
      </td>
    </tr>
  </table>
  <form id="form" action="/cv/edit-basic-info" method="post">
    {{ csrf|safe }}
    <table>
      <tr><th>{{ tr['name'] }}</th><td><input name="name" class="wide" maxlength="80" value="{{ user.name }}"/></td></tr>
      <tr><th>{{ tr['phone_optional'] }}</th><td><input name="phone" class="wide" maxlength="80" value="{{ user.phone }}"/></td></tr>
      <tr><th>{{ tr['email_address'] }}</th><td>{{ user.email }} <input {% if user.show_email %}checked{% endif %} type="checkbox" name="show_email" value="true"/> {{ tr['show_email'] }}</td></tr>
      <tr><th>{{ tr['open_to_work'] }}</th><td><input {% if user.open %}checked{% endif %} type="checkbox" name="open" value="true"/></td></tr>
    </table>
    <p><input type="submit" value="{{ tr['save_changes'] }}"/></p>
  </form>
</div>
{% endblock %}
