{% extends 'base.html' %}
{% block head %}
  <script>
    window.onload = function() {
      jSuites.calendar(document.getElementsByName('start')[0], {
        type: 'year-month-picker',
        format: 'MM/YYYY'
      });
      jSuites.calendar(document.getElementsByName('end')[0], {
        type: 'year-month-picker',
        format: 'MM/YYYY'
      });
    }
  </script>
{% endblock %}
{% block content %}
<div id="content">
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <form action="/cv/experience/{{ experience.id or 'new' }}" method="post">
    {{ csrf|safe }}
    <table>
      <tr><th>{{ tr['company'] }}</th><td class='wide'><input class='wide' maxlength="80" name='name' value="{{ experience.name }}"/></td></tr>
      <tr><th>{{ tr['position'] }}</th><td class='wide'><input class='wide' maxlength="80" name='position' value="{{ experience.position }}"/></td></tr>
      <tr><th>{{ tr['url_optional'] }}</th><td class='wide'><input class='wide' maxlength="80" name='url' value="{{ experience.url }}"/></td></tr>
      <tr><th>{{ tr['description'] }}</th><td class='wide'><textarea class='wide' maxlength="1000" name='description'>{{ experience.description }}</textarea></td></tr>
      <tr><th>{{ tr['skills_comma'] }}</th><td class='wide'><textarea class='wide' maxlength="1000" name='skills'>{{ experience.skills|render_skills }}</textarea></td></tr>
      <tr><th>{{ tr['start_month'] }}</th><td class='wide'><input name='start' value="{{ experience.start|render_date }}"/></td></tr>
      <tr><th>{{ tr['end_month'] }}</th><td class='wide'><input name='end' value="{{ experience.end|render_date }}"/></td>
    </table>
    <p><input type="submit" value="{{ tr['save_experience'] }}"/></p>
  </form>
  <form id="form" action="/cv/experience/delete/{{ experience.id or 'new' }}" method="post">
    {{ csrf|safe }}
    <p><input type="submit" value="{{ tr['delete_experience'] }}"/></p>
  </form>
</div>
{% endblock %}
