{% extends 'base.html' %}
{% block content %}
<div id="content">
  <h1>
    {% if profile_picture_exists %}
      <img id="profile-picture" src="/profile_pictures/{{ profile.id }}.png"/>
    {% endif %}
    {% if profile.name %}
      {{ profile.name }}
    {% endif %}
  </h1>

  {% if skills %}
    <h2>Skills</h2>
    <p>
      {% for skill in skills %}
        <span class='skill'>{{ skill.name }}</span>
      {% endfor %}
    </p>
  {% endif %}

  {% if profile.experiences %}
    <h2>{{ tr['experience'] }}</h2>
    <ul>
      {% for experience in profile.experiences %}
        <li>
          <p>
            {% if experience.url %}
              <a href="{{ experience.url }}">{{ experience.name }}</a>
            {% else %}
              {{ experience.name }}
            {% endif %}
            {{ experience|calculate_duration_in_months(tr) }}
          </p>
          {% if experience.skills %}
            <p>
              {% for skill in experience.skills %}
                <span class='skill'>{{ skill.name }}</span>
              {% endfor %}
            </p>
          {% endif %}
          {% if experience.description %}
            <p>{{ experience.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if profile.educations %}
    <h2>{{ tr['education'] }}</h2>

    <ul>
      {% for education in profile.educations %}
        <li>
          <p>{{ education.institution }}</p>
          <p>{{ education.qualification }} {{ education|calculate_duration_in_months(tr) }}</p>
          {% if education.skills %}
            <p>
              {% for skill in education.skills %}
                <span class='skill'>{{ skill.name }}</span>
              {% endfor %}
            </p>
          {% endif %}
        </li>
      {% endfor %}
  {% endif %}

  {% if profile.socials %}
    <h2>{{ tr['socials'] }}</h2>
    <ul>
      {% for social in profile.socials %}
        <li><a href="{{ social.url }}">{{ social.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
