{% extends 'base.html' %}
{% block head %}
  <script>
    function toggle_skills() {
      const skills = document.getElementsByClassName("skills");
      const class_name = skills[0].classList.contains("hide") ? "skills" : "skills hide";
      for (let i = 0; i < skills.length; i++) {
        skills[i].className = class_name;
      }
      return false;
    }
  </script>
{% endblock %}
{% block content %}
<div id="content">
  <h1>
    {% if profile_picture_exists %}
      <img id="profile-picture" src="/profile_pictures/{{ profile.id }}.png"/>
    {% endif %}
    {% if profile.name %}
      {{ profile.name }}
    {% else %}
      {{ tr['your_name_here'] }}
    {% endif %}
    {% if user and profile.id == user.id %}
      <a class="edit" href="/cv/edit-basic-info">{{ tr['edit_basic_info'] }}</a>
    {% endif %}
    {% if skills %}
      <a class="edit" href="#" onClick="return toggle_skills();">{{ tr['toggle_skills'] }}</a>
    {% endif %}
  </h1>

  {% if profile.phone %}
    <p><strong>{{ tr['phone'] }}</strong>: {{ profile.phone }}</p>
  {% endif %}

  {% if profile.show_email %}
    <p><strong>{{ tr['email_address'] }}</strong>: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
  {% endif %}

  {% if skills %}
    <h2 class="skills">Skills</h2>
    <p class="skills">
      {% for skill in skills %}
        <span>{{ skill.name }}</span>
      {% endfor %}
    </p>
  {% endif %}

  {% if profile.experiences or (user and user.id == profile.id) %}
    <h2>{{ tr['experience'] }} {% if user and user.id == profile.id %}<a class="edit" href="/cv/experience/new">{{ tr['new_experience'] }}</a>{% endif %}</h2>
    <ul>
      {% for experience in profile.experiences %}
        <li>
          <h3>
            {% if experience.position %}
              {{ experience.position }} {{ tr['for'] }}
            {% endif %}
            {% if experience.url %}
              <a href="{{ experience.url }}">{{ experience.name }}</a>
            {% else %}
              {{ experience.name }}
            {% endif %}
            {{ experience|calculate_duration_in_months(tr) }}
            {% if user and profile.id == user.id %}
              <a class="edit" href="/cv/experience/{{ experience.id }}">{{ tr['edit_experience'] }}</a>
            {% endif %}
          </h3>
          {% if experience.skills %}
            <p class="skills">
              {% for skill in experience.skills %}
                <span>{{ skill.name }}</span>
              {% endfor %}
            </p>
          {% endif %}
          {% if experience.description %}
            <p>{{ experience.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if profile.educations or (user and user.id == profile.id) %}
    <h2>{{ tr['education'] }} {% if user and user.id == profile.id %}<a class="edit" href="/cv/education/new">{{ tr['new_education'] }}</a>{% endif %}</h2>
    <ul>
      {% for education in profile.educations %}
        <li>
          <h3>
            {% if education.url %}
              <a href="{{ education.url }}">{{ education.institution }}</a>
            {% else %}
              {{ education.institution }}
            {% endif %}
            {% if user and user.id == profile.id %}
              <a class="edit" href="/cv/education/{{ education.id }}">{{ tr['edit_education'] }}</a>
            {% endif %}
          </h3>
          <p>{{ education.qualification }} {{ education|calculate_duration_in_months(tr) }}</p>
          {% if education.skills %}
            <p class="skills">
              {% for skill in education.skills %}
                <span>{{ skill.name }}</span>
              {% endfor %}
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if profile.social_media or (user and user.id == profile.id) %}
    <h2>{{ tr['social_media'] }} {% if user and user.id == profile.id %}<a class="edit" href="/cv/social-media">{{ tr['edit_social_media'] }}{% endif %}</h2>
    <ul>
      {% for social_media in profile.social_media %}
        <li><a href="{{ social_media.url }}">{{ social_media.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
